body, h1,h2,h3,h4,h5,h6 {font-family: "Ubuntu", sans-serif}

.extlink {color: inherit;text-decoration: none;}

body {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#intro {
	display: block;
}

header {
	font-size: 36px;
	padding-bottom: 32px;
}

.service {
	display: block;
}
.service hr {
	width:300px;
	opacity: 0.5;
}
.service img {
	width:80px;
	float: left;
	padding: 0px 24px 0px 0px;
}
.service a {
	padding: 12px 0px 0px 12px;
	display: block;
	width: 75%;
	margin-right: auto;
	border: 1px solid black;
}
.service a:hover {
	border: 1px solid white;
}
.service .a p {
	float: right;
	font-size:16px;
}

.service span {
	font-size:18px;
}
