.tree {
	padding-left: 0px;
}
.tree ul {
	padding-left: 100px;
	line-height: 60%;
	list-style-type: none;
}

.leaf {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 10px 4px 10px;
	border: 2px solid black;
	border-radius: 3px;
}

.dropdown {
	width: 400px;
	font-weight: normal;
	line-height: 150%;
}
