.tree {
	padding-left: 0px;
}
.tree ul {
	padding-left: 100px;
	line-height: 60%;
	list-style-type: none;
}

.leaf {
	font-size: 16px;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	border: 2px solid black;
	border-radius: 5px;
}
